.homepage-main-header {
  display: grid;
  grid-template-columns: 230px 710px 230px;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 3fr 1fr; */
}
.banner-position-left img {
  border-radius: 10px;
}
.banner-position-left img:hover {
  cursor: pointer;
}
.banner-position-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 280px 120px;
}
.position-top {
  width: 710px;
  height: 280px;
}

.position-top img {
  max-width: 100%; /* Giữ cho hình ảnh không vượt quá kích thước của phần tử cha */
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.position-top img:hover {
  cursor: pointer;
}
.position-bottom {
  width: 710px;
  height: 120px;
}
.position-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.position-bottom-wrapper img {
  border-radius: 5px;
  margin-top: 10px;
  object-fit: cover;
}
.position-bottom-wrapper img:hover {
  cursor: pointer;
}
.homepage-switch {
  position: relative;
}
.homepage-switch__pre {
  position: absolute;
  font-size: 50px;
  top: 100px;
  left: 0;
  color: #535353;
  font-weight: 600;
}
.homepage-switch__next {
  position: absolute;
  font-size: 50px;
  top: 100px;
  right: 0;
  color: #535353;
  font-weight: 600;
}
.homepage-switch__next:hover,
.homepage-switch__pre:hover {
  color: #202224;
  cursor: pointer;
}
.homepage-switch-dot {
  display: flex;
  justify-content: space-between;
}
.homepage-dot {
  display: flex;
}
.homepage-dot__item {
  padding: 2px;
  position: relative;
  margin: 6px;
  background: #fff;
  width: 16px;
  height: 5px;
  bottom: 25px;
  border-radius: 20%;
  left: 230px;
}
.homepage-dot__item:hover {
  cursor: pointer;
  background: #202224;
}
.main-tools_container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  height: 410px;
  overflow: hidden;
  padding: 20px;
  width: 230px;
}
.main-tools_container .tools-express h2 {
  margin-bottom: 20px;
  color: #333;
  cursor: default;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.main-tools_container .tools-express .form-item {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.tools-express .input-wrap.country-select {
  flex: 0 0 100px;
  margin-right: 10px;
}
.main-tools_container .tools-express .input-wrap {
  display: flex;
  position: relative;
}
.tools-express .input-wrap input {
  height: 30px;
  line-height: 30px;
  padding: 0;
}
.main-tools_container input {
  background: #f5f5f5;
  border: none;
  border-radius: 16px;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding-right: 60px;
  text-indent: 14px;
  transition: all 0.3s linear;
  width: 100%;
}
.main-tools_container .tools-express .input-wrap input {
  height: 30px;
  line-height: 30px;
  padding: 0;
}
